*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header {
    padding: 30px;
    text-align: center;
    background: rgb(0, 0, 0);
    justify-content: center;
    position:relative;
  }

h1, h2, h3{
    color: white;
    text-align: center;

}

.card {
    background-color: #1A1A1A;
    padding: 20px;
    margin-top: 10px;
}

  


p {
    font-size: 15px;
    font-family: 'Playfair Display', serif;
    color: #f1f1f1;
    text-align: center;
    justify-content: center;
    margin: 20px;
    
}
  

nav{
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 20px;
    align-items: center;
    min-height: 8vh;
    background-color: #000000;


}

nav a:hover, a:active{
    text-align: center;
    height: 100%;
    z-index: 0;
    background: #4d4b4b;
    width: 150px;
    border-radius: 6px;
    padding-top: 10%;
    transition: 0.2;
}


body{
    font-family: Arial;
    padding: 10px;
    background: #000000;
    
}

.logo{
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 30px;
    width: 300;
    font-weight: bold;
    height:100;
    text-align: center;
    
}

.nav-links{
    display: flex;
    align-items: center;
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    justify-content: space-around;
    height: 50;
    width: 100%;
    border-radius: 6px;
   

}
.nav-links a{
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16;
    text-align: center;
    
}


.nav-links li{
    list-style-type: none;
}


footer{
    display: flex;
    position: relative;
    width: 100%;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #000000;
    color: #ffffff;
}

#map {
    height: 30%;
    position: relative;
    justify-content: space-around;
    width: 50%;



}
.fa {
    padding: 15px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px, 2px;
    
  }
  .fa-facebook {
    background: #000000;
    color: rgb(255, 255, 255);
  }
  .fa-twitter {
    background: #000000;
    color: rgb(255, 255, 255);
  }
  .fa:hover {
    opacity: 0.7;
  }
  .fa-instagram {
    background: #000000;
    color: rgb(255, 255, 255);
  }
  .productcard {
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 12px;
}
.price {
    color: rgb(255, 255, 255);
    font-size: 22px;
}
.productcard button {
    background-color: #861d1d; 
      border: none;
      color: white;
      padding: 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
}
@media (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}
@media (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}